@using RosterIt.Web.Models
@model LogInFailedModel
@{
    ViewBag.Title = "LogIn";
}


<div class="container">
    <div class="well well-lg">
        @if (Model != null)
        {
            <div class="alert alert-warning">
                <strong>Whoops</strong> @Model.Message
            </div>
        }
        <form role="form" method="post">
            <fieldset>
                <legend>Log in</legend>
                <div class="form-group">
                    <label for="userName">User</label>
                    <input class="form-control" type="text" placeholder="Enter your user name" name="userName" id="userName" value="@((Model!=null) ? Model.UserName : "")" required />
                </div>
                <div class="form-group">
                    <label for="userName">Password</label>
                    <input class="form-control" type="password" placeholder="Enter your password" name="password" id="password" required />
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="log in" />
                </div>
            </fieldset>
        </form>
    </div>
</div>

